! Adjusting the font
xterm*faceName: IBM Plex Mono
xterm*faceSize: 11
 
! Changing foreground/background color
! Theme kibble
! font
xterm*background: rgb:30/30/30
xterm*foreground: rgb:ab/b2/bf

! black
xterm*color0:     rgb:4d/4d/4d
xterm*color8:     rgb:5a/5a/5a
! red
xterm*color1:     rgb:c7/00/31
xterm*color9:     rgb:f0/15/78
! green
xterm*color2:     rgb:29/cf/13
xterm*color10:    rgb:6c/e0/5c
! yellow
xterm*color3:     rgb:d8/e3/0e
xterm*color11:    rgb:f3/f7/9e
! blue
xterm*color4:     rgb:34/49/d1
xterm*color12:    rgb:97/a4/f7
! magenta
xterm*color5:     rgb:84/00/ff
xterm*color13:    rgb:c4/95/f0
! cyan
xterm*color6:     rgb:07/98/ab
xterm*color14:    rgb:68/f2/e0
! white
xterm*color7:     rgb:e2/d1/e3
xterm*color15:    rgb:ff/ff/ff

xterm*cursorColor: rgb:d6/d6/d6

! Adding a scroll-bar on the right side
xterm*scrollBar: true
xterm*rightScrollBar:true
 
! prevent jumping back to the last line with new output
xterm*scrollTtyOutput: false
 
! add keyboard shortcuts to jump to beginning/end
xterm*vt100.translations: #override \n\
 Shift <Key>Home: scroll-forw(10000000000) \n\
 Shift <Key>End: scroll-back(10000000000)
